<h1>Simple jQuery Tabs</h1>

<div class="tabs-container">
  <div class="tabs-nav">
    <a href="#tab-1" class="tab active">Tab 1</a>
    <a href="#tab-2" class="tab">Tab 2</a>
    <a href="#tab-3" class="tab">Tab 3</a>
  </div>

  <div class="tabs-content">
    <div id="tab-1" class="tab-pane active">
      <h3>Tab #1</h3>
      <p>Great tab</p>
      <img src="http://lorempixel.com/400/200/sports/" />
    </div>

    <div id="tab-2" class="tab-pane">
      <h3>Tab #2</h3>
      <p>Great tab, really</p>
      <img src="http://lorempixel.com/400/200/food/" />
    </div>

    <div id="tab-3" class="tab-pane">
      <h3>Tab #3</h3>
      <p>THe best tab</p>
      <img src="http://lorempixel.com/400/200/cats/" />
    </div>
  </div>
</div>
